@import url(https://fonts.googleapis.com/css?family=Hind:300);
body{
	font-family: 'Hind', sans-serif;
}

nav,header{
	font-size: 18px
}

#logo{
	width:100%;
}

ul{
	list-style-type: none;
}

div{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

section{
	height: 800px;
}