body{
	background-image: url("../images/modelpic.jpg");
	background-repeat:no-repeat; 
	background-position: top center;
	background-size: 80%;
	font-family: Book Antiqua;
}

nav,header{
	font-size: 14px
}

#logo{
	width:15%;
}

ul{
	list-style-type: none;
}
